{% extends 'base.html' %}
{% block content %}

<h1 class="text-center mb-4">Edit Court</h1>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-4">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_description" class="form-label">Description</label>
            {{ form.description }}
            {% if form.errors.description %}
            <div class="text-danger mt-2">{{ form.errors.description }}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="id_type" class="form-label">Type</label>
            {{ form.type }}
            {% if form.errors.type %}
            <div class="text-danger mt-2">{{ form.errors.type }}</div>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
