{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card box-shadow">
        <div class="card-body">
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12">
      <h1>Welcome to our Padel and Tennis Club</h1>
      <div class="mt-5">
        <p>
          Our club offers state-of-the-art facilities for both padel and tennis
          enthusiasts. Whether you're a beginner or an experienced player, our
          club provides an inclusive and welcoming environment for players of
          all levels.
        </p>
        <p>
          With a range of well-maintained courts, including both padel and
          tennis courts, our members have ample opportunities to practice,
          compete, and socialize.
        </p>
        <p>
          We also offer professional coaching services for those looking to
          improve their skills, as well as organized tournaments and events
          throughout the year.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
  
{% endblock %}
