{% extends 'base.html' %}
{% block content %}

<h1 class="text-center mb-4">Edit Member</h1>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-4">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_full_name" class="form-label">Name and Lastname</label>
            {{ form.full_name }}
            {% if form.errors.full_name %}
            <div class="text-danger mt-2">{{ form.errors.full_name }}</div>
            {% endif %}
        </div>
        
          <div class="mb-3">
            <label for="id_phone" class="form-label">Number Phone (1-9)</label>
            {{ form.phone }}
            {% if form.errors.phone %}
            <div class="text-danger mt-2">{{ form.errors.phone }}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="id_birth_date" class="form-label">Birth Date</label>
            {{ form.birth_date }}
            {% if form.errors.birth_date %}
            <div class="text-danger mt-2">{{ form.errors.birth_date }}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="id_category" class="form-label">Category</label>
            {{ form.category }}
            {% if form.errors.category %}
            <div class="text-danger mt-2">{{ form.errors.category }}</div>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
